body {
    font-family: poppins, sans-serif;
    background: skyblue;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.container {
    background-color: gray;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

#taskInput {
    width: 70%;
    padding: 12px;
    border: 1px solid navy;
    border-radius: 5px;
    font-size: 16px;
}
.taskList{
    margin-left: 50px;
}
#addBtn {
    padding: 12px 20px;
    margin-left: 10px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 10px;

}

ul {
    list-style: none; 
    padding: 0;
  }
  
  
  li {
    background-color: white;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  
  
  